.main-card{
    background-color: white ;
    width: fit-content;
    filter: drop-shadow(0px 0px 3px var(--light-shadow-color));
    cursor: pointer;
    transition: transform 0.15s;
}





.main-card:hover{
    outline: solid 1.5px var(--bs-primary);
}

.main-card:active{
    transform: scale(1.02,1.02);
}